ffmpeg-python==0.2.0      
ffmpy==0.3.2      
flask==3.0.2      
gradio==4.19.2     
gradio-client==0.10.1     
gtts==2.5.1         
moviepy==1.0.3      
numpy==1.26.4     
openai-whisper==20231117      
pandas==2.2.1      
pillow==10.2.0     
pydub==0.25.1        
scipy==1.12.0     
sqlite==3.41.2     
tqdm==4.66.2     
urllib3==1.26.18    